@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}


:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: #282A36;
  background-color: #F3F5F7;


  --primary-color: #282A36;
  --primary-light: #44475a;
  --primary-dark:  #141e2a;


  --bg-primary: #fff;
  --bg-seconday: #282a360a;
  --bg-transparent: transparent;


  --font-primary: #141e2a ;
  --font-secondary: #6e7f80;
  --font-tertiary: #fff;
  --font-error: #ff5555;

  --border-primary:#6e7f80 ;
  --border-secondary: #fff;
  --border-tertiary: #282a36;


  --btn-primary: #36454f


}






/*---------------------------- APP STYLING ----------------------------*/

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-container {
  width: 95rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
  margin: 2rem 1rem .5rem 2rem;
  /* border-bottom: 1px solid #282A36; */
}

.title-container>h3 {
  padding-left: .5em;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: .25rem;
}


/*---------------------------- VIRTUAL SCROLL CONTAINER STYLING ----------------------------*/

.logs-container {
  position: relative;
  padding: 2.25rem 3rem 2rem 3rem ;
  background-color: var(--bg-primary);
  border-radius: .5rem;
  width: 95rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 32px 4px rgba(0, 0, 0, 0.1);
  z-index: auto;
}

.logs-title-container {
  display: flex;
  padding: .75rem 0;
  margin-bottom: 1.45rem;
  border-bottom: 1px solid var(--border-primary);
}

.logs-count {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 .25rem;
}

.logs-hero>text,
.filter-label,
.logs-total {
  color: #282a367b;
}

.logs-hero {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.logs-title {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--font-secondary);
  cursor: pointer;
}

.logs-title:nth-child(1) {
  flex: 0 0 220px;
  padding-left: .65rem;
}

.logs-title:nth-child(2) {
  flex: 0 0 120px;
}

.logs-title:nth-child(3) {
  flex: 0 0 220px;
}

.logs-title:nth-child(4) {
  flex: 0 0 150px;
}

.logs-title:nth-child(5) {
  flex: 1;
}

.logs-title.sortable.active {
  color: var(--font-primary);
}

.virtual-scroll-item {
  display: flex;
  align-items: center;
  border-radius: .5rem;
  margin-right: 0.5rem;
  will-change: transform;
}

.virtual-scroll-item.even {
  background-color: var(--bg-seconday);
}

.virtual-scroll-viewport::-webkit-scrollbar {
  width:.5rem;
}

.virtual-scroll-viewport::-webkit-scrollbar-track {
  border-radius: 4px;
}

.virtual-scroll-viewport::-webkit-scrollbar-thumb {
  background: var(--border-primary);
  border-radius: .25rem;
}

.virtual-scroll-viewport::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}



/*---------------------------- LOG ENTRY STYLING ---------------------------- */

.log-item-container {
  display: flex;
  align-items: center;
  border-radius: .25rem;
  height: 100%;
}

.log-item-attribute {
  display: flex;
  align-items: center;
}


.log-item-icon {
  padding-right: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-item-level {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-item-attribute:nth-child(1) {
  flex: 0 0 220px;
  padding-left: .65rem;
}

.log-item-attribute:nth-child(2) {
  flex: 0 0 120px;
}

.log-item-attribute:nth-child(3) {
  flex: 0 0 220px;
}
.log-item-attribute:nth-child(4) {
  flex: 0 0 150px;
}

.log-item-attribute:nth-child(5) {
  flex: 1;
}

.log-item-attribute>span {
  color: var(--font-primary);
}


/*---------------------------- SEARCH BAR STYLING ----------------------------*/

.search-bar-container {
  display: flex;
  flex-direction: column;
}

.search-bar-input-container {
  display: flex;
  align-items: center;
  margin-bottom: .75rem;
  gap: 1rem;
}

.search-bar-input-container>input {
  text-decoration: none;
  background-color: var(--bg-primary);
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.search-bar-filter-container {
  display: flex;
  justify-content: space-between;
}

.search-bar-filter-options-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
}

.search-bar-filter-level-container,
.search-bar-filter-method-container{
  display: flex;
  flex-direction: column;
}

.filter-label {
  padding-left: .25rem;
  padding-bottom: .5rem;
  color: 	var(--font-secondary);
}

.search-bar-filter-level-options,
.search-bar-filter-method-options {
  display: flex;
  gap: .5rem;
}



.filter-button{
  background-color: var(--bg-transparent);
  border: 1px solid var(--border-primary);
  border-radius: .35rem;
  color: var(--font-primary);
  height: 1.75rem;
  width: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: all 0.2s ease-in-out;
}
.filter-button.active {
  background-color: var(--primary-color);
  color: var(--font-tertiary);
}

.filter-button:hover {
  /*border: 3px solid var(--border-tertiary);*/
  background-color: var(--btn-primary);
  color: var(--font-tertiary);
}

.search-bar-search-button {
  display: flex;
  align-items: center;
  border-radius: .5rem;
  padding: .5rem 1rem .5rem .75rem;
  box-shadow: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1em;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--btn-primary);
  transition: all 0.2s ease-in-out;
}

.clear-text {
  padding: 0 0 0 .25rem;
}

/*.search-bar-search-button:hover {*/
/*  cursor: pointer;*/
/*  transform: scale(1.04);*/
/*  box-shadow: 0 8px 25px 4px rgba(0, 0, 0, 0.1);*/
/*}*/

.search-bar-search-button:active:not(:disabled) {
  transform: scale(0.95);
}

.search-bar-custom-input {
  padding-left: 2rem;
  height: 100%;
  font-size: 1.05rem;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-primary);
  color: var(--font-primary);
  border: 1px solid var(--border-primary);
  border-radius: .5rem;
  width: 20rem;
}

.search-bar-custom-input:hover{
  border: 3px solid var(--border-primary);
}

.search-bar-custom-input:focus {
  outline: none;
  border: 3px solid var(--border-primary);
}

.search-bar-custom-input-container {
  position: relative;
  width: fit-content;
  height: 100%;
}

.magnifying-glass {
  position: absolute;
  left:8px;
  top:50%;
  transform: translateY(-50%);
  pointer-events: none;
}


/*---------------------------- CUSTOM DATE/TIME STYLING ----------------------------*/

.custom-input-container {
  gap: .35rem;
  color: var(--font-primary);
  display: flex;
  align-items: center;

  justify-content: center;
  width: 100%;
}






.custom-input-value {
  font-size: .95rem;
  padding-right: .25rem ;
  height: 100%;
}


/*---------------------------- REACT DATEPICKER STYLING ----------------------------*/

.custom-react-datetime-picker-container {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.custom-react-datetime-picker{
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);
  padding: .30rem .95rem;
  cursor: pointer;
  width: 15rem;
  border-radius: .5rem;
  transition: all 0.2s ease-in-out;
}



.react-datepicker-popper {
  z-index: 1000;
}


.react-datepicker {
  border: 1px solid var(--border-primary);
  padding: .75rem .75rem .75rem 1.5rem;
  border-radius: .5rem;
  background-color: white;
  display: flex;
  gap: .75rem;
}


.react-datepicker__week{
  display: flex;
}

.react-datepicker__day-names  {
  display: flex;
  border-bottom: 1px solid var(--border-primary);
  margin-bottom: .5rem;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.25rem;
  text-decoration: none;
}

.react-datepicker__day-name{
  font-weight: 600;
}

.react-datepicker__day:hover,
.react-datepicker__day:focus,
.react-datepicker__day:active {
  cursor: pointer;
  background-color: var(--bg-seconday);
  border-radius: 50%;
}


.react-datepicker__triangle {
  display: none;
}



.react-datepicker__navigation--next,
.react-datepicker__navigation--previous {
  border: 1px solid #282a367e;
  border-radius: .25rem;
  background-color: var(--bg-transparent);
  color: var(--font-primary);
  padding: .25rem;
}

.react-datepicker__navigation,
.react-datepicker__aria-live{
display: none !important;
}

.react-datepicker__header__dropdown--select {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-transparent);

}

.react-datepicker__header__dropdown{
  margin: .25rem 0;
}

.react-datepicker__current-month {
font-weight: 500;
}



.react-datepicker__month-select,
.react-datepicker__year-select{
  background-color: white;
  border: 1px solid var(--border-primary);
  border-radius: .25rem;
  margin: 0 .25rem;
  padding: .25rem .5rem;
  color: var(--font-primary);
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}


.react-datepicker__time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  width: 7rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-left: 1px solid var(--border-primary);
}

.react-datepicker__time::-webkit-scrollbar,
.react-datepicker__time-container::-webkit-scrollbar {
  display: none;
}

.react-datepicker__time {
display: flex;
flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.react-datepicker__time-box{
  height: inherit;
}

.react-datepicker-time__header{
  display: none;
}

.react-datepicker__time-list{
  text-decoration: none;
  list-style: none;
padding: 0;
}

.react-datepicker__time-list-item {
  /*border-radius: .25rem;*/
  padding: .65rem .75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.react-datepicker__time-list-item:hover {
background-color:var(--bg-seconday);
  border-radius: .25rem;
}

.react-datepicker__input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.react-datepicker__close-icon {
  background-color: var(--bg-transparent);
  border: none;
  cursor: pointer;
  color: var(--font-primary);
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
}

.react-datepicker__close-icon::after {
  content: "";
  background: none;
}

.react-datepicker__close-icon::before {
  content: "✕";
  font-size: 1rem;
  font-weight: 600;
  color: var(--font-error);
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
}



