@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
}


:root {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: #282A36;
  background-color: #F3F5F7;


  --primary-color: #282A36;
  --primary-light: #44475a;
  --primary-dark:  #141e2a;


  --bg-primary: #fff;
  --bg-seconday: #282a360a;
  --bg-transparent: transparent;


  --font-primary: #141e2a ;
  --font-secondary: #6e7f80;
  --font-tertiary: #fff;

  --border-primary:#6e7f80 ;
  --border-secondary: #fff;


  --btn-primary: #36454f


}

.spacer {
  width: 1rem;
}





/*---------------------------- APP STYLING ----------------------------*/

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-container {
  width: 95rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5rem;
  margin: 2rem 1rem .5rem 2rem;
  /* border-bottom: 1px solid #282A36; */
}

.title-container>h3 {
  padding-left: .5em;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  padding-bottom: .25rem;
}


/*---------------------------- LOGS CONTAINER STYLING ----------------------------*/

.logs-container {
  position: relative;
  padding: 2.25rem 3rem 2rem 3rem ;
  background-color: var(--bg-primary);
  border-radius: .5rem;
  width: 95rem;
  display: flex;
  flex-direction: column;
  z-index: auto;
}

.logs-title-container {
  display: flex;
  padding: .75rem 0;
  margin-bottom: 1.45rem;
  border-bottom: 1px solid var(--border-primary);
}

.logs-title {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--font-secondary);
}

.logs-title:nth-child(1) {
  flex: 0 0 120px;
  padding-left: .65rem;
}

.logs-title:nth-child(2) {
  flex: 0 0 200px;
}

.logs-title:nth-child(3) {
  flex: 0 0 220px;
}

.logs-title:nth-child(4) {
  flex: 1;
}

.logs-list {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.logs-list > *:nth-child(odd) {
  background-color: var(--bg-seconday);
}

.logs-list.transitioning {
  opacity: 0;
  transform: translateY(10px);
}

.logs-pagination {
  display: flex;
}

.logs-pagination>button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: none;
  background-color: var(--bg-transparent);
  height: 2.15rem;
  width: 2.15rem;
  margin: 0 .25rem;
  border-radius: 50%;
  color: #282A36;
}

.logs-pagination>button:hover {
  cursor: pointer;
  background-color: #282a360d;
}

.logs-pagination>button.active {
  background-color: #282a360d;
}

.logs-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-primary);
  height: 3rem;
  padding-top: .45rem;
  margin-top: 1.35rem;
}

.logs-count {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 .25rem;
}

.logs-hero>text,
.logs-count>text,
.filter-label,
.logs-total {
  color: #282a367b;
}

.logs-hero {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}

/*---------------------------- LOG ENTRY STYLING ---------------------------- */

.log-item-container {
  display: flex;
  align-items: center;
  padding: .65rem 0;
  margin-bottom: .5rem;
  border-radius: .25rem;
}

.log-item-attribute {
  display: flex;
  align-items: center;
}


.log-item-icon {
  padding-right: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-item-level {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-item-attribute:nth-child(1) {
  flex: 0 0 120px;
  padding-left: .65rem;
}

.log-item-attribute:nth-child(2) {
  flex: 0 0 200px;
}

.log-item-attribute:nth-child(3) {
  flex: 0 0 220px;
}

.log-item-attribute:nth-child(4) {
  flex: 1;
}

.log-item-attribute>span {
  color: var(--font-primary);
}


/*---------------------------- SEARCH BAR STYLING ----------------------------*/

.search-bar-container {
  display: flex;
  flex-direction: column;
}

.search-bar-date-time-container {
  display: flex;
  align-items: center;
}

.search-bar-input-container {
  display: flex;
  align-items: center;
  margin-bottom: .75rem;
  gap: .85rem;
  height: 2.4rem;
}

.search-bar-input-container>input {
  height: 100%;
  width: 20rem;
  text-decoration: none;
  background-color: var(--bg-primary);
  border-radius: .25rem;
  padding: 0 .5rem;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.search-bar-filter-container {
  display: flex;
  justify-content: space-between;
}

.search-bar-filter-options-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.search-bar-filter-level-container,
.search-bar-filter-method-container{
  display: flex;
  flex-direction: column;
}

.filter-label {
  padding-left: .25rem;
padding-bottom: .5rem;
  color: 	var(--font-secondary);
}

.search-bar-filter-level-options,
.search-bar-filter-method-options {
  display: flex;
  gap: .95rem;
}

.filter-button-container {
  display: flex;
  gap: .20rem;
}


.filter-button{
  background-color: var(--bg-transparent);
  border: 1px solid var(--border-primary);
  border-radius: .35rem;
  color: var(--font-primary);
  height: 1.75rem;
  width: 4rem;
  cursor: pointer;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.filter-button:hover {
  border: 2px solid var(--border-primary);
}

.search-bar-search-button {
  border-radius: .5rem;
  padding: .5rem 2rem;
  box-shadow: none;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--btn-primary);
}

.search-bar-search-button:hover {
  cursor: pointer;
}

.search-bar-custom-input {
  padding-left: 2rem;
  height: 100%;
  font-size: 1.05rem;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-primary);
  color: var(--font-primary);
  border: 1px solid var(--border-primary);
  border-radius: .5rem;
  width: 20rem;
}

.search-bar-custom-input:focus {
  outline: none;
  border: 3px solid var(--border-primary);
}

.search-bar-custom-input-container {
  position: relative;
  width: fit-content;
  height: 100%;
}

.magnifying-glass {
  position: absolute;
  left:8px;
  top:50%;
  transform: translateY(-50%);
  pointer-events: none;
}


/*---------------------------- CUSTOM DATE/TIME STYLING ----------------------------*/

.custom-date-time-picker-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%
}

.custom-date-time-picker {
  display: flex;
  align-items: center;
  gap: .25rem;
  color: var(--font-primary);
}



.custom-date-time-picker>span {
  display: flex;
align-items: center;
}

.custom-date-time-picker-value {
  width: 100%;
}

.custom-date-time-pick{
  background-color: white;
  border: 1px solid var(--border-primary);
  padding: .85rem .95rem;
  cursor: pointer;
  width: 16rem;
  height: 100%;
  display: flex;
  /*gap: .5rem;*/
  align-items: center;
  border-radius: .5rem;
  box-sizing: border-box;
  position: relative;
}
.custom-time-input-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}


.custom-time-input-container>span {
  display: flex;
  align-items: center;
}
.custom-time-input {
  background-color: transparent;
  border: none;
  color: var(--font-primary);
  cursor: pointer;
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(17%) sepia(8%) saturate(1034%) hue-rotate(186deg) brightness(94%) contrast(88%);
}



/*.custom-date-time-pick .react-datepicker-wrapper:nth-of-type(1){
  position: absolute !important;
  top: 0 !important;
  left: .75rem !important;
  width: 10rem !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  padding-left: .5rem !important;
  margin-right: .5rem;
}

.custom-date-time-pick .react-datepicker-wrapper:nth-of-type(2) {
  position: absolute !important;
  top: 0 !important;
  right:  .15rem !important;
  width: 2rem !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}*/


.react-datepicker {
  border: 1px solid var(--border-primary);
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  background-color: white;
position: relative;
}

.react-datepicker-popper {
  z-index: 1000;
}



.react-datepicker__week{
  display: flex;
}


.react-datepicker__tab-loop {

}

.react-datepicker__day-names  {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-primary);
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.25rem;
}

.react-datepicker__day-name{
  font-weight: 600;
}

.react-datepicker__day:hover {
  cursor: pointer;
  background-color: var(--bg-seconday);
  border-radius: 50%;
}


.react-datepicker__triangle {
  display: none;
}



.react-datepicker__navigation--next,
.react-datepicker__navigation--previous {
  border: 1px solid #282a367e;
  border-radius: .25rem;
  background-color: var(--bg-transparent);
  color: var(--font-primary);
  padding: .25rem;
}

.react-datepicker__navigation{
display: none !important;
}

.react-datepicker__header__dropdown--select {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-transparent);

}

.react-datepicker__header__dropdown{
  margin: .25rem 0;
}

.react-datepicker__current-month {
font-weight: 500;
}



.react-datepicker__month-select,
.react-datepicker__year-select{
  background-color: white;
  border: 1px solid var(--border-primary);
  border-radius: .25rem;
  margin: 0 .25rem;
  padding: .25rem .5rem;
  color: var(--font-primary);
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.react-datepicker__aria-live {
  display: none !important;
}

.react-datepicker__time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: 7rem;
overflow-y: scroll;
}

.react-datepicker__time {
display: flex;
flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.react-datepicker__time-box{
  height: inherit;
}

.react-datepicker-time__header{
  display: none;
}

.react-datepicker__time-list{
  text-decoration: none;
  list-style: none;
padding: 0;
}




.react-datepicker__time-list-item {
  /*border-radius: .25rem;*/
  padding: .65rem .75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.react-datepicker__time-list-item:hover {
background-color:var(--bg-seconday);
  border-radius: .25rem;
}







